<div class="container">
	<div class="row" id="login-btns">
		<a href="/update-profile">Update Profile</a> |
		<a href="/logout">Sign Out</a> 
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-md-7" id="user">
			<h4 style="height: 2%;">Profile</h4>
			<hr style="border-width: 2px;">
			<div style="height: 35%; overflow: auto;">
				<!-- User Profile goes here -->
				<p><strong>Name: </strong> {{ name }}</p>
				<p><strong>Email: </strong> {{ email }}</p>
				<p><strong>GPA: </strong> {{ gpa }}</p>
				<p><strong>Scores: </strong> {{ score }}</p>
				<p><strong>Location Preference(s): </strong> {{ location }}</p>
			</div>
			<h4 style="height: 2%;">Colleges</h4>
			<hr style="border-width: 2px;">
			<div style="height: 55%; overflow: auto">
				<!-- College Content goes here -->
				{{#each college}}
					<p><strong><a href="http://{{url}}" target="_blank">{{ name }}</a></strong></p>
					<p>{{ city }}, {{state}}</p>
					<br>
				{{/each}}
			</div>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4" id="todo">
			<h4>To-do</h4>
			<hr style="border-width: 2px;">
			<div style="overflow: auto;">
				<!-- ToDo list goes here-->
				<ul style="list-style-type:square">
					{{#each todoList}}
						<li><strong>{{ task }}</strong></li>
					{{/each}}
				</ul>
			</div>
			<form method="post" action="/todo">
				<div class="form-group">
					<label for="task">Enter Todo </label>
					<input type="text" class="form-control" id="task" name="task" placeholder="type todo item here">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<br>
</div>
